@font-face {
    font-family: 'Montserrat Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Montserrat Regular'), url('fonts/Montserrat/Montserrat-Regular.woff') format('woff');
    }
body{
    line-height: 1.7;
    color: gray;
    font-weight: 300;
    font-size: 1rem;
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"
}
nav a{
    text-decoration: none;
    font-family: 'Montserrat Regular';
    font-size: 2rem;
    text-align: center;
    color: black;
    font-weight: 500;
}
nav span{
    color: #00d2b5;
}
h1, h2, h3, h4, h5,
.h1, .h2, .h3, .h4, .h5 {
  font-family: Montserrat; 
}
.text_head h2{
    line-height: 1.2;
    font-family: Montserrat;
    font-size: 40px;
    font-weight: 900;
    margin-bottom: 30px;
}
.text_head_new{
    line-height: 1.2;
    font-family: Montserrat;
    font-size: 40px;
    font-weight: 900;
    color: #000;
}
.btn{
    border-width: 2px;
    background: #00d2b5;
    border-color: #00d2b5;
    color: #fff;
    -webkit-box-shadow: 0 4px 20px -5px rgb(0 210 181 / 40%);
    box-shadow: 0 4px 20px -5px rgb(0 210 181 / 40%);
    font-size: 16px;
    /* border-radius: 30px; */
    padding: 10px 30px;
}
.btn:hover{
    color: black;
    background-color: transparent;
    border: 2px solid #00d2b5;
}
.titles{
    color: #000;
    font-size: 40px;
    font-weight: 900;
}
.c_1{
    border: none;
    height: 250px;
}
.card h3{
    font-size: 16px;
    color: #000;
}
.card p{
    font-weight: 300;
    font-size: 15px;
}
.card .card-body span{
    width: 40px;
    height: 40px;
    position: relative;
    border-radius: 50%;
    display: inline-block;
    background-color: #00d2b5;
    -webkit-box-shadow: 0 4px 20px -5px rgb(0 210 181 / 40%);
    box-shadow: 0 4px 20px -5px rgb(0 210 181 / 40%);
}
.card .card-body i{
    font-size: 1.5rem;
    position: absolute;
    color: #fff;
    left: 13%;
    top: 20%;
}
.card:hover{
    background-color: #00d2b5;
    transform: translateY(-.7rem);
    -webkit-box-shadow: 0 4px 20px -5px rgb(0 210 181 / 40%);
    box-shadow: 0 4px 20px -5px rgb(0 210 181 / 40%);
    transition: .3s ease-in;
}
.card:hover span{
    background-color: #fff;
}
.card:hover i{
    color: #00d2b5;
}
.card:hover{
    color: #fff;
}
.card:hover h3{
    color: #fff;
}
.circle_span 
{
    color: #fff;
    border-radius: 50%;
    background-color: #00d2b5;
    max-height: 50px;
}
.after_line::after{
    content: " ";
    border-left: 3px solid #00d2b5;
    position: absolute;
    height: 100%;
    z-index: -1;
}
.line{
    height: 40px;
}
.line hr{
    border-top: 3px solid #00d2b5;
    width: 100%;
    background-color: transparent;
    opacity: 1;
    padding-top: 2px;
}
.curve-left{
    border-left: 3px solid #00d2b5;
    border-bottom: 3px solid #00d2b5;
    
    width: 100px;
    height: 100%;
    top: -50%;
    left: 50%;
    position: relative;
    border-bottom-left-radius: 15px;
}
.h_line{
    height: 20.2px;
    top: 20px;
    border-bottom: 3px solid #00d2b5;
    background-color: #fff;
}
.curve-right{
    border-right: 3px solid #00d2b5;
    border-top: 3px solid #00d2b5;
    width: 100%;
    position: relative;
    height: 100%;
    right: 50%;
    bottom: -44%;
    border-top-right-radius: 15px;
}
.curve2-left{
    border-left: 3px solid #00d2b5;
    border-top: 3px solid #00d2b5;
    width: 100px;
    height: 100%;
    top: 44%;
    left: 50%;
    position: relative;
    border-top-left-radius: 15px;
}
.h2_line{
    height: 20.2px;
    top: 20px;
    border-bottom: 3px solid #00d2b5;
    background-color: #fff;
}
.curve2-right{
    border-right: 3px solid #00d2b5;
    border-bottom: 3px solid #00d2b5;
    width: 100%;
    height: 100%;
    top: -50%;
    left: -50%;
    position: relative;
    border-bottom-right-radius: 15px;
}
.c_2{
    border: none;
    height: 127px
}
@media (min-width: 1400px){

    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: 1140px;
    }
}
@media (max-width: 991.98px){
    
    .text_head_new {
        font-size: 30px;
    }
}
